<section>
    <div class="container mt-5">
        <h3>add product</h3>
        <form action="/admin/add-product" enctype="multipart/form-data" method="POST"> 
  <div class="form-group">
    <label for="exampleFormControlInput1">name</label>
    <input type="name" name="name" class="form-control" id="exampleFormControlInput1" >
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">category</label>
    <input type="name" name="category" class="form-control" id="exampleFormControlInput1" >
  </div>
 <div class="form-group">
    <label for="exampleFormControlInput1">price</label>
    <input type="name" name="price" class="form-control" id="exampleFormControlInput1" >
  </div>
 <div class="form-group">
    <label for="exampleFormControlInput1">image</label>
    <input type="file" name="image" class="form-control" id="exampleFormControlInput1" >
  </div>
 
  <div class="container">
        <button type="submit" class="btn-success">add product</button>
    </div>
  
</form>
    </div>
   
</section>